# Environment
.env
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Data
data/raw/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
